
@{
    ViewBag.Title = "Chat";
}

<div class="row">
    <div class="col-md-3">
        <h3>Users</h3>
        <ul id="users"></ul>
    </div>
    <div class="col-md-9">
        <div>Display Name: <span id="username"></span></div>
        <div>
            <input type="text" id="msg" />
            <button id="send" type="button">Send</button>
        </div>
        <ul id="messages"></ul>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalR/hubs"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            var name = prompt("Display name?");
            var hub = $.connection.messageHub;
            hub.client.updateUsers = (list) => {
                $("#users").empty();
                for (var i = 0; i < list.length; i++) {
                    $("#users").append(`<li>${list[i]}</li>`);
                }
            }
            hub.client.broadcast = (n, m) => {
                $("#messages").append(`<li>${n}:${m}</li>`);
            }
            hub.connection.start()
                .done(() => {
                    hub.server.addMe(name);
                    $("#send").click(() => {
                        hub.server.send(name, $("#msg").val());
                    });
                })
        });
    </script>
}
